body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(47, 47, 82);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  z-index: 1000;
}

.logo img {
  height: 80px;
}

.navi a {
  font-size: 22px;
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.nav-links a:hover {
  color: rgb(180, 180, 255);
}

.success {
  color: green;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

.warning {
  color: orange;
  font-weight: bold;
}

.info {
  color: blue;
  font-weight: bold;
}

.main-content {
  min-height: 75vh;
  height: auto;
  padding-top: 20px;
}

#register_form,
fieldset {
  width: 50%;
  box-shadow: 4px 4px 12px rgb(180, 180, 255);
  border-radius: 0 20px;
  padding: 20px;
}

legend {
  font-size: 25px;
  padding: 0 10px;
}

footer {
  margin-top: 40px;
  background-color: rgb(47, 47, 82);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
  align-items: center;
  flex-wrap: wrap;
  font-size: 18px;
}

.social-links a {
  padding: 0 10px;
  color: white;
  font-size: 22px;
}

#msg {
  color: red;
  font-size: 18px;
}

#p_msg {
  color: red;
}
